html
{
    font-family: Calibri;
    background-color: #FDFDFD;
}

.thumb-link
{
    text-decoration: none;
}

.thumb-link:hover img
{
    outline: 3px solid green;
}

.file-thumbnail
{
    max-width: 250px;
    max-height: 250px;
}
