html
{
    font-family: Calibri;
    background-color: #FDFDFD;
}

.layout-container
{
    display: grid;
    grid-template-columns: 250px 1.6fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "sidebar content";
}

.layout-sidebar
{
    grid-area: sidebar;
    background-color: #ddd;
    padding: 8px;
}

.layout-content
{
    grid-area: content;
}

.thumb-link
{
    text-decoration: none;
}

    .thumb-link:hover img
    {
        outline: 3px solid green;
    }

.file-thumbnail
{
    max-width: 250px;
    max-height: 250px;
}

table
{
    border: 1px solid silver;
    padding: 4px;
}

    table thead
    {
        background-color: rgba(0,0,0,0.2);
    }

    table th, table td
    {
        padding: 2px 4px;
    }


form
{
    margin: 8px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0,0,0,0.075);
}

input[type=text], textarea
{
    background-color: #ffffe1;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 6px 8px;
}
