<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/styles/auth.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 class="appNameHeader">File Organizer</h1>
    <div>@RenderBody()</div>
</body>
</html>
