@page "/login"
@model FileOrganizer.WebUI.Areas.Auth.Pages.LoginModel

<form method="post" asp-page="Login">

    <div>
        <label asp-for="Form.UserName">User</label>
        <input asp-for="Form.UserName" autocomplete="off" />
        <span asp-validation-for="Form.UserName"></span>
    </div>

    <div>
        <label asp-for="Form.Password">Pass</label>
        <input asp-for="Form.Password" />
        <span asp-validation-for="Form.Password"></span>
    </div>

    <button type="submit">Login</button>

</form>

@if (Model.Error != null)
{
    <div>
        ERROR: @Model.Error
    </div>
}
