<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (ViewBag.Title is null)
    {
        <title>File Organizer</title>
    }
    else
    {
        <title>File Organizer - @ViewBag.Title</title>
    }
    <link href="~/styles/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @await Component.InvokeAsync( "LoginStatus" )
    @await Component.InvokeAsync( "MainMenu" )
    @RenderBody()
</body>
</html>
