@page
@model FileOrganizer.WebUI.Pages.EditFileDetailsModel

@await Component.InvokeAsync( "FileThumbnail", new { file = Model.FileDetails } )

<p>Edit file description:</p>

<form asp-page="EditFileDetails" method="Post">
    <label asp-for="Title"></label>
    <br />
    <input asp-for="Title" autocomplete="off" />
    <br />
    <br />
    <label asp-for="Description"></label>
    <br />
    <textarea asp-for="Description" cols="50" rows="5"></textarea>

    <div>
        <!-- todo: user input range -->
        <label asp-for="PrimaryDateTime.Year"></label>
        <input asp-for="PrimaryDateTime.Year" autocomplete="off" />
        <label asp-for="PrimaryDateTime.Month"></label>
        <input asp-for="PrimaryDateTime.Month" autocomplete="off" />
        <label asp-for="PrimaryDateTime.Day"></label>
        <input asp-for="PrimaryDateTime.Day" autocomplete="off" />
        <label asp-for="PrimaryDateTime.Hour"></label>
        <input asp-for="PrimaryDateTime.Hour" autocomplete="off" />
        <label asp-for="PrimaryDateTime.Minute"></label>
        <input asp-for="PrimaryDateTime.Minute" autocomplete="off" />
    </div>
    <div>
        <span style="display:block" asp-validation-for="PrimaryDateTime.Year"></span>
        <span style="display:block" asp-validation-for="PrimaryDateTime.Month"></span>
        <span style="display:block" asp-validation-for="PrimaryDateTime.Day"></span>
        <span style="display:block" asp-validation-for="PrimaryDateTime.Hour"></span>
        <span style="display:block" asp-validation-for="PrimaryDateTime.Minute"></span>
    </div>

    <input asp-for="FileId">

    <br />

    <input type="submit" value="Save" />
</form>

<a asp-page="View" asp-route-fileid="@Model.FileDetails.FileId.Value">Back</a>
