@page
@model FileOrganizer.WebUI.Pages.SearchModel

<form asp-page="Search" method="get">
    <select asp-for="PageSize" asp-items="Model.PageSizeSelectList"></select>
    <input type="submit" value="Search" />
</form>

<p>Found files: @Model.SearchResult.TotalFound</p>

@await Component.InvokeAsync( "Pager", Model.PagerModel )

<div>
    @foreach (var file in Model.SearchResult.Retrieved)
    {
        @await Component.InvokeAsync( "FileThumbnail", new { file = file } )
    }
</div>
