@page
@model FileOrganizer.WebUI.Pages.UploadModel

@{ ViewBag.Title = "Upload"; }

<form method="post" asp-page="Upload" enctype="multipart/form-data">
    <label asp-for="Files">Files to upload:</label>
    <input multiple asp-for="Files"/>
    <button type="submit">Upload</button>
</form>

@if (Model.Error != null)
{
    <p>ERROR: @Model.Error</p>
}
