@page "/user/{userName}"
@model FileOrganizer.WebUI.Pages.UserModel

@if (Model.AppUser is null)
{
    <p>User not found.</p>
}
else
{
    <p>User: <b>@Model.AppUser.Name</b></p>
    <p>Display name: <b>@Model.AppUser.DisplayName</b></p>
    <p>Roles:<br />
        @foreach (string role in Model.AppUser.Roles.Items)
        {
            <b>@role</b><br />
        }
    </p>
}
