@page
@inject FileOrganizer.Core.IAppUserFinder finder

<a asp-page="NewUser">Create new</a>

<br />

@foreach (var appUser in finder.GetAllAppUsers())
{
    <p>
        <a asp-page="User" asp-route-username="@appUser.Name">
            <b>@appUser.Name</b> - @appUser.DisplayName
        </a>
    </p>
}
