@page
@using FileOrganizer.Domain 
@inject MediatR.IMediator mediator

<a asp-page="/CreateUser/CreateUser">Create new</a>

<table>
    <thead>
        <tr>
            <th>UserName</th>
            <th>Display name</th>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appUser in await mediator.Send( new GetAppUsersQuery() ))
        {
            <tr>
                <td>@appUser.Name</td>
                <td>@appUser.DisplayName</td>
                <td>
                    <a asp-page="User" asp-route-username="@appUser.Name">LINK</a>
                </td>
            </tr>
        }
    </tbody>
</table>
