@page
@model FileOrganizer.WebUI.Pages.LogsModel

<h1>Activity Log</h1>

Filter by user name:<br />
<select asp-items="Model.UsersList" onchange="window.location.href='@Model.ReloadUriBase' + this.value">
     <option value=""></option>
</select>

<br />
<br />

<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>User</th>
            <th>Message</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var entry in Model.Logs)
        {
            <tr>
                <td>@entry.Timestamp</td>
                <td>@entry.UserName</td>
                <td>@entry.Message</td>
            </tr>
        }
    </tbody>
</table>
