@page "/login"
@model FileOrganizer.WebUI.Areas.Auth.Pages.Login.LoginModel

<form method="post" asp-page="Login">

    <div>
        <label asp-for="Form.UserName">User</label>
        <input asp-for="Form.UserName" autocomplete="off" />
        <br />
        <span asp-validation-for="Form.UserName" class="error"></span>
    </div>

    <div>
        <label asp-for="Form.Password">Pass</label>
        <input asp-for="Form.Password" />
        <br />
        <span asp-validation-for="Form.Password" class="error"></span>
    </div>

    <div class="error" asp-validation-summary="ModelOnly">
    </div>

    <button type="submit" class="loginButton">Login</button>

</form>
