@model FileOrganizer.WebUI.Pages.Shared.Components.PagerModel


@if (Model.IsRequired)
{
    <div class="pagination">
        @for (int i = 0; i < Model.PageCount; i++)
        {
            int pageNumber = i + 1;
            bool currentPage = Model.CurrentPage == i;

            <a @Html.Raw(currentPage ? "data-active" : "") href="@Model.UrlFactory(i)">
                @if (currentPage)
                {
                    <b> @pageNumber </b>
                }
                else
                {
                    <span> @pageNumber </span>
                }
            </a>
        }
    </div>
}
