@model FileOrganizer.WebUI.Services.Auth.AuthUser?

@if (Model is null)
{
    <span>You are not logged in.</span>
}
else
{
    <span>You are logged in as: <a asp-page="User" asp-route-username="@Model.Name"><b>@Model</b></a></span>

    <form method="post" asp-area="Auth" asp-page="/Logout/Logout" style="width: 70px">
        <button type="submit">Logout</button>
    </form>
}
