<b>Main Menu</b>

<ul>
    <li><a asp-page="Index">Index</a></li>
    <li><a asp-page="Upload">Upload File</a></li>
    <li><a asp-page="Search">Search</a></li>
    <li><a asp-page="Users">Users</a></li>
    <li>5...</li>
</ul>
