<b>Main Menu</b>

<ul class="mainMenu">
    <li><a asp-page="Index">Index</a></li>
    <li><a asp-page="Upload">Upload File</a></li>
    <li><a asp-page="Uploads">Uploads</a></li>
    <li><a asp-page="Search">Search</a></li>
    <li><a asp-page="Tags">Tags</a></li>
    <li><a asp-page="Users">Users</a></li>
    <li><a asp-page="Stats">Stats</a></li>
    <li><a asp-page="Logs">Logs</a></li>
</ul>
